# fly.toml app configuration file generated for inf3 on 2025-11-08T17:18:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'inf3'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
